<!DOCTYPE html>
<html>
  <head>
    <title>Html Alterado</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Olá mundo !</h1>
    <p>Welcome to MVC</p>
  </body>
</html>
