*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

header{
    
    background-color:rgb(238, 41, 41);
    display: flex;
    padding:  20px 0px;
    justify-content: space-around;
    align-items: center;
}

p   {   
        font-family: Impact;
        font-size: 30px;
        color:black
}


header nav {
      gap: 15px;
        flex-direction: row;
    font-size: 20px;
    padding:  20px 0px;
}


 a{
    text-decoration: none;
    color: white;
}

@media(max-width:500px){
    header{
        flex-direction: column;
        justify-content: center;
    }
}
