<!DOCTYPE html>
<html>

<head>
  <title> Digital House Barber </title>
  <link rel='stylesheet' href='/stylesheets/global.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />
</head>

<body>
  <h1> Digital House Barber </h1>
  <button> Botão </button>
</body>

</html>